

body{
background: rgb(178,175,226);
background: linear-gradient(90deg, rgba(178,175,226,1) 54%, rgba(0,212,255,1) 99%);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
h1{
    font-family:Permanent Marker;
    color:cornflowerblue;
}

.header{
    display:flex;
    flex-direction:row;
    align-items: center;
    width:500px;
    justify-content:space-around;
}

.footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:500px;
    align-items: center;
    margin-top:20px;
}

#container{
    border-radius:20px;
    background-color:rgb(233, 219, 219);
    padding:10px;
    width:500px;
    height:500px;
    border:1px solid black;
    display:grid;
}

.grid-item{
    width:50%;
    height:50%;
    font-size:1px;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}
